/*Body geen marge   */
body
{
    margin: 0px;
    font-family: "SailecRegular";
}

.titel
{
    margin-top: 200px;
    text-align: center;
}


section
{
    position: absolute;
    left: 20%;
    margin-top: 50px;
    width: 80%;
}
section>img
{
    float: left;
    padding-right: 50px;
    width: 20%;
}

section+section
{
    position: relative;
    margin-top: 150px;
}

#winkelmandLeeg
{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin-top: 0px;
    width: auto;
}

/*  Link naar de productpagina (in <section>)	*/
#winkelmandLeeg a
{
    color: #4CA289;
}
body
{
    margin: 0px;
    font-family:  "SailecRegular";
}

.titel
{
    margin-top: 200px;
    text-align: center;
    font-family:  "SailecBold";
    font-size: 50px;
}


/*  Circels     */
.circle
{
    height: 20px;
    width: 20px;
    border-radius: 50%;
    border: 1px solid rgba(76, 162, 137, 1);
    justify-content: center;
    align-items: center;
    display: flex;
    transition: 300ms ease;
    cursor: pointer;
}
.circle:hover
{
    background-color: #4ca289;    
}
.circle_min
{
    width: 10px;
    height: 1px;
    background-color: rgba(76, 162, 137, 1);
    transition: 300ms ease;
}
.circle:hover .circle_min
{
    width: 10px;
    height: 1px;
    background-color: #ffffff;
    transition: 300ms ease;
}

.circle_plus1
{
    width: 10px;
    height: 1px;
    background-color: rgba(76, 162, 137, 1);
}
.circle:hover .circle_plus1
{
    background-color: #ffffff;
    transition: 300ms ease;
}
.circle_plus2
{
    position: absolute;
    width: 1px;
    height: 10px;
    background-color: rgba(76, 162, 137, 1);
}
.circle:hover .circle_plus2
{
    background-color: #ffffff;
    transition: 300ms ease;
}


/*  Knoppen rechts zetten   */
.productVerminderen
{
    position: absolute;
    right: 9%;
}
.productVerminderen + p
{
    position: absolute;
    top: 102%;
    right: 7%;
    color: rgba(76, 162, 137, 1);
}
.productVerhogen
{
    position: absolute;
    right: 3.5%;
}

/*  Kortingscode    */

/*  Invoerveld groter maken en border geven */
#kortingscode
{
    padding-left: 10px;
    height: 5vh;
    border-radius: 5px;
    border: 2px solid rgba(76, 162, 137, 1);
}
/*  Knop groter maken en achtergrond- en kleur geven    */
#checkKortingscode
{
    border: 1px solid rgba(76, 162, 137, 1);
    border-radius: 20px;
    height: 30px;
    width: 11%;
    background-color: rgba(76, 162, 137, 1);
    color: #FFFFFF;
}
/*  Knop andere achtergrond- en kleur geven */
#checkKortingscode:hover
{
    background-color: #FFFFFF;
    color: rgba(76, 162, 137, 1);

    border: 2px solid #4CA289;
}

/*  Tabel opmaken   */
table
{
    width: 100%;
}
td:nth-child(1)
{
    position: relative;
    left: 20%;
    text-align: left;
}
td:nth-child(2)
{
    text-align: right;
    padding-right: 50px;
}
table tr:nth-of-type(5)>td
{
    width: 80%;
}


.waves
{
    animation: waves 150s ease infinite;
}

@keyframes waves
{
    0%
    {
        d: path("M0,96L48,106.7C96,117,192,139,288,138.7C384,139,480,117,576,122.7C672,128,768,160,864,144C960,128,1056,64,1152,53.3C1248,43,1344,85,1392,106.7L1440,128L1440,320L1392,320C1344,320,1248,320,1152,320C1056,320,960,320,864,320C768,320,672,320,576,320C480,320,384,320,288,320C192,320,96,320,48,320L0,320Z")
    }
    10%
    {
        d: path("M0,0L48,10.7C96,21,192,43,288,53.3C384,64,480,64,576,85.3C672,107,768,149,864,144C960,139,1056,85,1152,58.7C1248,32,1344,32,1392,32L1440,32L1440,320L1392,320C1344,320,1248,320,1152,320C1056,320,960,320,864,320C768,320,672,320,576,320C480,320,384,320,288,320C192,320,96,320,48,320L0,320Z")
    }
    20%
    {
        d: path("M0,64L48,69.3C96,75,192,85,288,106.7C384,128,480,160,576,176C672,192,768,192,864,176C960,160,1056,128,1152,106.7C1248,85,1344,75,1392,69.3L1440,64L1440,320L1392,320C1344,320,1248,320,1152,320C1056,320,960,320,864,320C768,320,672,320,576,320C480,320,384,320,288,320C192,320,96,320,48,320L0,320Z");
    }
    30%
    {
        d: path("M0,96L48,101.3C96,107,192,117,288,117.3C384,117,480,107,576,96C672,85,768,75,864,69.3C960,64,1056,64,1152,80C1248,96,1344,128,1392,144L1440,160L1440,320L1392,320C1344,320,1248,320,1152,320C1056,320,960,320,864,320C768,320,672,320,576,320C480,320,384,320,288,320C192,320,96,320,48,320L0,320Z");
    }
    40%
    {
        d: path("M0,96L48,106.7C96,117,192,139,288,138.7C384,139,480,117,576,122.7C672,128,768,160,864,160C960,160,1056,128,1152,128C1248,128,1344,160,1392,176L1440,192L1440,320L1392,320C1344,320,1248,320,1152,320C1056,320,960,320,864,320C768,320,672,320,576,320C480,320,384,320,288,320C192,320,96,320,48,320L0,320Z");
    }
    50%
    {
        d: path("M0,160L48,160C96,160,192,160,288,160C384,160,480,160,576,160C672,160,768,160,864,144C960,128,1056,96,1152,96C1248,96,1344,128,1392,144L1440,160L1440,320L1392,320C1344,320,1248,320,1152,320C1056,320,960,320,864,320C768,320,672,320,576,320C480,320,384,320,288,320C192,320,96,320,48,320L0,320Z");
    }
    60%
    {
        d: path("M0,224L48,208C96,192,192,160,288,138.7C384,117,480,107,576,128C672,149,768,203,864,208C960,213,1056,171,1152,133.3C1248,96,1344,64,1392,48L1440,32L1440,320L1392,320C1344,320,1248,320,1152,320C1056,320,960,320,864,320C768,320,672,320,576,320C480,320,384,320,288,320C192,320,96,320,48,320L0,320Z");
    }
    70%
    {
        d: path("M0,128L48,112C96,96,192,64,288,74.7C384,85,480,139,576,138.7C672,139,768,85,864,90.7C960,96,1056,160,1152,154.7C1248,149,1344,75,1392,37.3L1440,0L1440,320L1392,320C1344,320,1248,320,1152,320C1056,320,960,320,864,320C768,320,672,320,576,320C480,320,384,320,288,320C192,320,96,320,48,320L0,320Z");
    }
    80%
    {
        d: path("M0,64L48,58.7C96,53,192,43,288,48C384,53,480,75,576,74.7C672,75,768,53,864,37.3C960,21,1056,11,1152,32C1248,53,1344,107,1392,133.3L1440,160L1440,320L1392,320C1344,320,1248,320,1152,320C1056,320,960,320,864,320C768,320,672,320,576,320C480,320,384,320,288,320C192,320,96,320,48,320L0,320Z");
    }
    90%
    {
        d: path("M0,128L48,117.3C96,107,192,85,288,90.7C384,96,480,128,576,154.7C672,181,768,203,864,197.3C960,192,1056,160,1152,144C1248,128,1344,128,1392,128L1440,128L1440,320L1392,320C1344,320,1248,320,1152,320C1056,320,960,320,864,320C768,320,672,320,576,320C480,320,384,320,288,320C192,320,96,320,48,320L0,320Z")
    }
    100%
    {
        d: path("M0,96L48,106.7C96,117,192,139,288,138.7C384,139,480,117,576,122.7C672,128,768,160,864,144C960,128,1056,64,1152,53.3C1248,43,1344,85,1392,106.7L1440,128L1440,320L1392,320C1344,320,1248,320,1152,320C1056,320,960,320,864,320C768,320,672,320,576,320C480,320,384,320,288,320C192,320,96,320,48,320L0,320Z");
    }
}
.hamburger
{
    height: 30px;
    width: 35px;
    justify-content: center;
    flex-direction: column;
    display: none;
}

.hamburger div
{
    border-radius: 14px;
    height: 4px;
    width: 100%;
    background-color: rgb(0, 0, 0);
    margin-top: 5px;
}
.white-background
    {
    background-color: white;
    border-bottom: 1px solid white;
    }
@media(max-width: 950px)
{
    ul
    {
        left: 100%;
        top: 101%;
        padding: 0px;
        margin: 0px;
        display: flex;
        flex-direction: column;
        position: absolute;
        justify-content: center;
        width: 100%;
        height: 92vh;
        align-items: center;
        background-color: rgb(255, 255, 255);
        transition: left 300ms ease 0s;
    }

    li
    {
        margin-top: 35px;
    }

    .has-open-nav
    {
        left: 0%;
        top: 101%;
        font-size: 24px;
    }

    .has-open-nav li
    {
        margin-top: 35px;
    }

    .has-open-nav li:last-child
    {
        margin-bottom: 100px;
    }

    .winkelwagen
    {
        margin-right: 0px;
    }
    
    .hamburger
    {
        display: block;
    }
}
@media only screen and (min-width: 300px) and (max-width: 950px) {
    /*  1e product geen boven witruimte geven */
    #winkelmand + section {
      margin-top: 0px;
    }
    /*  Productafbeelding groter maken  */
    section > img {
      width: 90%;
    }
    /*  'Prijs' en de prijs in euro gelijk zetten op de hoogte van de + en - button */
    .prijs,
    .prijs + p {
      position: relative;
      top: 50px;
    }
    /*  - Knop (product verminderen) rechts uitlijnen */
    .productVerminderen {
      right: 16%;
    }
    /*  Aantal producten tussen de + en - knop zetten */
    .aantalProducten {
      right: 11.5% !important;
      margin-top: 8px;
      margin-left: 1%;
    }
    /*  + Knop (product verhogen) rechts naast het aantal producten zetten  */
    .productVerhogen {
      right: 5%;
    }
    /*  Verzend knop (kortingscode) breder maken    */
    #checkKortingscode {
      width: 100px;
    }
  }  